@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

body {
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background: #fff;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Permanent Marker", cursive;
}
.blur {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.1);
	z-index: 1;
	background-image: url(./assets/images/galaxy-white.png);
	background-repeat: repeat;
}

.container {
	z-index: 2;
	width: 1280px;
	height: 720px;
	background-image: url(./assets/images/mywifecancode.png);
	background-position: center;
	background-size: cover;
	position: relative;
	border: 3px solid #555;
	border-radius: 40px;
}

.list {
	position: absolute;
	left: 250px;
	top: 200px;
}

.item {
	cursor: pointer;
	width: 100%;
	margin: 10px 0;
	color: #dfb9a7;
	display: inline-block;
}

.item:hover {
	color: #fff;
}

.item span {
	font-size: 20px;
	text-decoration: none;
}

.item span:first-child {
	width: 30px;
	text-align: right;
	display: inline-block;
	margin-right: 10px;
}

.item span:last-child {
	text-decoration: underline;
}
